.portalBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    letter-spacing: 0.5em;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 100px;
    overflow: hidden;
    /* font-size: 1.1em; */
}

.headerTime {
    font-weight: lighter;
    font-size: 6em;
}

.timeBlock {
    width: 40%;
}

.headerDate {
    font-weight: lighter;
    font-size: 1.7em;
}

.calendarList {
    margin-top: 25px;
    padding-left: 55px;
    width: 80%;
    height: 550px;
    padding-bottom: 80px;
    overflow: hidden;
}

.calendarItemOld {
    color: gray;
    letter-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.calendarItem {
    letter-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.calendarItemSoon {
    margin-top: -2px;
    margin-bottom: -2px;
    letter-spacing: normal;
    font-size: 1.9em;
}

.calendarItemSooner {
    margin-top: -2px;
    margin-bottom: -2px;
    color: rgb(107, 213, 255);
    letter-spacing: normal;
    font-size: 2.7em;
}

.twitterScroll {
    position: fixed;
    bottom: 30px;
    height: 70px;
    left: 0px;
    width: 100%;
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.weatherBox {
    position: absolute;
    top: 10px;
    right: 150px;
    width: 750px;
    height: 130px;
    font-size: 2em;
    padding: 0px;
    text-align: center;
}

.weatherIcon {
    position: relative;
    top: 10px;
}

.littleWeather {
    font-size: 0.7em;
    letter-spacing: normal;
}

.anotherTest {
    font-size: 1em;
}

.forecastBox {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px dotted gray;
}

.forecastItem {
    display: inline-block;
    height: 70px;
    width: 70px;
    letter-spacing: normal;
    font-size: 0.75em;
    padding: 7px 15px 7px 15px;
}

@font-face {
    font-family: "NotoColorEmoji", Verdana, Tahoma, sans-serif;
    src: url("/home/pi/.fonts/Noto Color Emoji.ttf") format("truetype");
}

.twitterScroll p {
    font-family: "NotoColorEmoji";
    vertical-align: middle;
    font-size: 2.8em;
    letter-spacing: normal;
    display: inline-block;
    padding-left: 100%;
    animation: twitterScroll 50s linear infinite;
}

@keyframes twitterScroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.funnyThingContainer {
    z-index: 100;
    position: absolute;
    display: block;
    top: 330px;
    right: 150px;
    width: 800px;
    height: 500px;
    overflow-y: hidden;
    /* border: 1px solid blue; */
    padding: 0px;
    /* border-radius: 20px; */
    color: rgb(255, 225, 181);
    letter-spacing: normal;
    font-size: 1.7em;
    line-height: 1.4em;
    text-align: center;
    opacity: 1;
    animation: fadeinout 90s linear forwards;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.familyStatus {
    position: fixed;
    bottom: 10px;
    height: 150px;
    left: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: normal;
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
}
.familyItem {
    flex: 0 50%;
    padding: 10px;
    /* border: 1px dotted rgb(37, 37, 37); */
    box-sizing: border-box;
}

.famName {
    font-weight: bold;
    color: rgb(171, 179, 223);
    font-size: 1.4em;
}

.famTime {
    color: gray;
    font-size: 1.1em;
    letter-spacing: -0.1em;
}

.famStatus {
    font-size: 1.4em;
}
